.input-section2 {
    position: absolute;
    bottom: 50px;  /* ระยะห่างจากด้านล่างของหน้าจอ */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px; /* ระยะห่างระหว่าง input และ button */
    align-items: center;
}

.answer-input2 {
    padding: 10px;
    width: 300px;
    border: 2px solid #1e90ff; /* เส้นขอบฟ้าเข้ม */
    border-radius: 5px;
    background-color: #121212;
    font-size: 1.1rem;
    text-align: center;
    color: #fff;
    outline: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
    transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.answer-input2:focus {
    border-color: #00bfff;
    box-shadow: 0 0 15px rgba(30, 144, 255, 0.8);
}

.submit-button2 {
    padding: 10px 20px;
    font-size: 1.3rem;
    color: #ffffff;
    background: linear-gradient(to right, #1c1c1c, #2f2f2f); /* ไล่สีดำ */
    border: 2px solid #1e90ff;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.submit-button2:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(30, 144, 255, 0.8);
}

.download-link-container {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
  }

  .hint-text2 {
    font-size: 1rem;
    color: red; /* สีของ hint */
    text-align: center;
    margin-top: 55px; /* ระยะห่างด้านบนจากปุ่ม */
    font-family: 'Arial', sans-serif;
}

  body {
   
    margin: 0; /* ลบ margin เพื่อให้คอนเทนต์ชิดขอบ */
    height: 100%; /* ตั้งความสูงเต็มจอ */
  }
  